# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Local configuration / credentials / secrets
.env
*.env
local.properties
key.properties
*.keystore
*.jks
*.p12
*.pem

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/
/coverage/
generated_plugin_registrant.dart

# Symbolication/Obfuscation related
app.*.symbols
app.*.map.json

# iOS / Xcode related
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/DerivedData/
*.xcworkspace
xcuserdata/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
